{%extends 'base.html'%}
{%block body%}
<header>This is the checkout page</header>
<table border="1">
    <tr>
        <td>
            <input type="submit" value="Cart" name="cartButton" />
        </td>
    </tr>
    <tr>
        <td>
            Products in your Cart
        </td>
    </tr>
    <tr>

        <td>
            Product 1<br />
            Price: R500<br />
            Product Description: Very good product<br />
        </td>
        <td>
            <input type="button" value="Remove" />
        </td>

    </tr>
</table>

{%endblock%}